<div class="container mt-5 mb-5">

<h1 class="text-center">About</h1>

    <p>

        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime quidem nulla dolores ipsam dolor magnam doloribus quo quasi quod a sapiente, hic possimus in, sunt expedita sed recusandae, aperiam unde?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, quibusdam! Suscipit dolor, a dignissimos hic aliquam ad aperiam fuga officiis vel ullam perferendis quam error libero. Enim ducimus distinctio voluptatibus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque ex voluptas assumenda asperiores quibusdam est deleniti inventore dolorum enim. Eum illo enim natus minima dolorem magni, quaerat perferendis! Fugiat, delectus?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem praesentium reiciendis repellendus facere delectus deleniti qui molestiae, obcaecati in necessitatibus eos quidem nobis alias asperiores, consequuntur rerum quod harum impedit.
        <br/>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam est necessitatibus voluptas fugit in aliquid dolore quasi repellendus, enim sint blanditiis, expedita iste possimus sunt illo dicta consequuntur quis debitis?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus ipsam ad similique! Necessitatibus assumenda repudiandae veritatis mollitia nisi totam atque, ex quod, consectetur reprehenderit quaerat. Quam quos soluta quia atque.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti facere vero nesciunt, repudiandae obcaecati, optio odit, nisi delectus ratione asperiores ipsa? Beatae quisquam nisi illum accusantium id distinctio, fugiat corporis.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur exercitationem, quaerat autem tempore corporis saepe! Perspiciatis, sed? Non dolorum, natus veritatis consectetur nihil, tempore explicabo accusamus ad, recusandae alias deserunt!
        <br/>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae cumque, recusandae provident deleniti aperiam ab? Optio mollitia ullam maxime totam iusto quia illo, inventore doloremque saepe a, magnam corporis possimus?
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo atque minus eos, porro veritatis totam. Earum, eum fugiat! Error laborum suscipit voluptas optio! Exercitationem dicta autem explicabo, quis hic libero!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus nisi at in voluptatum reiciendis ullam? Aut ut odio hic in quae consequatur aspernatur tenetur natus fugit. A quae quasi reprehenderit.
    </p>

</div>